/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-text: #020202;
    --color-text-inactive: #555;
    --color-text-active: #020202;

    --color-background: #f8f8f8;
    --color-background-top: #e8e8e8;
    --color-background-button: #d4d4d4;

    --color-border: #bbb;
    --color-border-active: #124499;
    --color-border-dark: #888;
    --color-border-day: #a4a457;
    --color-border-night: #eee;

    //-//

    --font-size-top: 18px;
    --font-size-top-title: 24px;

    //-//

    --padding-top: 8px;
    --padding-top-link: 16px;
    --padding-top-horizontal: 16px;

    //-//

    --margin-top-divider: 12px;

    //-//

    --border-top: 1px solid var(--color-border);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 16px;
    line-height: 2em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
